div{
	width: 90%;
	background-color: powderblue;
	margin: 0 auto;

}
header{
	text-align: center;
}
ul{
	list-style: none;
}
nav{
	text-align: right;
	
	border-style: solid;
  	border-width: 3px;
}
nav ul{
	margin-right: 100px;
}

nav li{
	display: inline;
}
aside{
	background-color: #0F0;
	float: left;
	height: 500px;
	width: 150px;
}
section p{
	color: white;
	text-align: justify;
	
	
}
section {
	background-color: green;
	height: 440px;
	margin-left: 160px;
	padding-top: 30px;
  	padding-bottom: 30px;
	padding-left: 35px;
  	padding-right: 35px;
}
footer{
	 text-align: center;
}
section  hr{
	border-top: 2px solid  white;

}
section h1{
	padding-top: 30px;
  	padding-bottom: 30px;
}

